*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #1d1d1c;
}
.navbar{
  box-shadow: 2px 1px 5px  black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(245 90 90);
  font-family: sans-serif;
  gap:0.5em;
  height: 60px;
}
.nav--icon{
  width:32px ;
  height: 32px;
}
.card{
  max-width: 1000px;
  display: flex;
  margin: 15px;
  color: white;
  font-family: sans-serif;
}
.card--title{
  margin:10px 0px 10px 0;
}
.card img{
  width: 400px;
  height: 230px;
  border-radius: 15px;
}
.card--info{
  margin:20px 0 25px 25px ;
}
.card--info p{
  margin-top: 50px;
  font-size: 14px;
}
.card--location-icon{
  color: red;
  margin: 2px;
}
.card--location{
  font-weight: bold;
}
a{
  
  color: white;
  font-size:13px ;
}
.google-map-link{
margin-left: 5px;

}

.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(245 90 90);
  font-family: sans-serif;
  gap:0.5em;
  height: 50px;
  position: sticky;
  bottom: 0;
  width: 100%;
  box-shadow: 2px 1px 5px  black;
  border-radius: 5px;
}